.form {
  min-width: 45%;
  display: flex;
  flex-direction: column;
  gap: 15px;

  padding-bottom: 20px;
}
.error {
  font-size: 14px;
  color: red;
  text-align: center;
}
.topWrapper {
  display: flex;
  flex-direction: row;
  gap: 15px;
}
.sendBtn {
}
