.main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.buttonsContainer {
  display: flex;
  gap: 20px;
}

.mainLinksContainer {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 20px 40px;
  background-color: #eee;
  border-radius: 5px;
}
