.graphiqlContainer {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.SDLContainer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.responseArea {
    width: 400px;
    height: 800px;
}

.buttonContainer {
    display: flex;
    column-gap: 10px;
}