.wrapper {
  padding-top: 10px;
}
.title {
}
.example {
  font-size: 12px;
  margin-bottom: 10px;
}
.textarea {
  width: 100%;
}
.formatWrapper {
}
.formatBtn {
  margin-right: 10px;
}
.errorSpan {
  display: inline-block;
  font-size: 14px;
  color: red;
  width: 100%;
  text-align: center;
  padding: 5px;
}
