.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  margin: 0;
}

li {
  list-style-type: none;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
}

footer {
  padding: 10px 10px 5px 10px;
  background-color: #c0c0c0;
}

main {
  padding: 0 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.formContainer {
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.formUser {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
  align-items: center;
}

.linkDefault,
.linkActive {
  text-decoration: none;
  font-size: 20px;
  display: block;
  transition: all 0.2s;
  background-color: white;
  padding: 5px 10px;
  border: none;
  color: black;
  border-radius: 5px;
}

.linkDefault:hover {
  transform: scale(1.03);
  cursor: pointer;
  color: blue;
}

.linkActive {
  pointer-events: none;
  color: blue;
}

.linkActive:hover {
  color: blue;
  transform: none;
}

header {
  transition: background-color 0.5s ease;
  background-color: rgb(236 236 236);
  min-height: 40px;
  position: sticky;
  top: 0;
  z-index: 999;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

.sticky {
  background-color: #9acc8f;
}

.logo {
  position: relative;
  display: block;
  padding: 15px 30px;
  padding-right: 42px;
  padding-left: 42px;
  text-decoration: none;
  background-color: white;
  border-radius: 5px;
  color: black;
  z-index: 5;
  transition: all 0.2s ease;
}

.logoTitle {
  position: relative;
  z-index: 5;
  color: black;
  font-size: 20px;
}

.logo:hover {
  transform: scale(1.02);
  background-color: #9acc8f;
  cursor: pointer;
}

.logo img {
  transition: all 0.2s ease;
}

.logo:hover img {
  filter: brightness(0) saturate(100%) invert(11%) sepia(99%) saturate(6022%)
    hue-rotate(237deg) brightness(86%) contrast(98%);
}

.globalError {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: center;
  align-items: center;
}

.globalErrorTitle {
  color: red;
}

.fullViewPortContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}
